{% extends 'ScubeBaseBundle:Base:core_application.html.twig' %}


{% block body %}
{{ parent() }}

<div class="Application">

<table class="table_content">
<tr>
	<td class="sidebar_left" style="width:15%;">
		{% include 'ScubeAdminUserBundle:AdminUser:menu.html.twig' %}
	</td>
	<td class="sidebar_main">
		<h1>{% trans %}Edit user{% endtrans %} {{user.getSurname()}} {{user.getFirstname()}}</h1>
		
		<div class="btn_line">
			<a href="{{ path("AdminUserBundle_homepage")}}" class="button grey"><- {% trans %}Back to Users{% endtrans %}</a>
		</div>
		
		{% if success %}
			<p class="form_success">{% trans %}The user has been successfully updated{% endtrans %}.</p>
		{% endif %}
		
		{% if error_email is defined %}
			<p class="form_error">{% trans %}Email already used by another user{% endtrans %}</p>
		{% endif %}
		
		{% if user_is_me is defined %}
			<p class="form_error">{% trans %}You can't block youself, the option has been disabled{% endtrans %}.</p>
		{% endif %}
		
		<div class="scroll_container" rel="scroller">
			<form action="{{ path("AdminUserBundle_user_edit", { 'id': user.getId()})}}" method="post" {{ form_enctype(form) }}>
				{{ form_widget(form) }}
			
				<input type="submit" value="{% trans %}Save{% endtrans %}" />
			</form>
		</div>
	</td>
</tr>
</div>

{% endblock %}