{% extends 'ScubeBaseBundle:Base_Mobile:base.html.twig' %}

{% block title %}Scube{% endblock %}

{% block body %}
{{ parent() }}
{% block back_btns %}{% endblock %}

<div data-role="content">
	<div data-role="collapsible" data-theme="b">
		<h3>Send a message</h3>
		<form class="top_form" action="{{ path("ScubeMailboxBundle_homepage_conversation", {'id_user':conversation.interlocutor.getId()} )}}" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form._token) }}
			{{ form_widget(form.message) }}
			<input data-theme="a" data-icon="check" type="submit" value="Send" />
		</form>	
	</div>
	{%if conversation%}
			<ul data-role="listview" data-theme="c" style="margin-top: 20px;">
			{% for mail in conversation.getMails() | reverse %}
					{%if mail.type == "in"%}
						<li data-theme="e">
							<h2><a href="{{ path("ScubeProfileViewerBundle_homepage", {'id_user':conversation.interlocutor.getId()} )}}" data-transition="slide">{{conversation.interlocutor.firstname}} {{conversation.interlocutor.surname}}</a> :</h2>
							<p style="font-size: medium; white-space:normal;">{{mail.getMessage()}}</p>
							<p style="margin-top: 5px;">Sent on : {{mail.getMailingDate()|date()}}</p>
						</li>
					{% else %}
						<li data-theme="c" style="text-align: right;">
							<h2><a href="{{ path("ScubeProfileViewerBundle_homepage", {'id_user':user.getId()} )}}" data-transition="slide">{{user.firstname}} {{user.surname}}</a> :</h2>							
							<p style="font-size: medium; white-space:normal;">{{mail.getMessage()}}</p>
							<p style="margin-top: 5px;">Sent on : {{mail.getMailingDate()|date()}}</p>
						</li>
					{%endif%}
			{% endfor %}
			</ul>
	{%endif%}	
</div>

<div data-role="footer"  data-position="fixed" data-theme="b">
	<div data-role="navbar">
		<ul>
			<li><a href="{{ path('_homepage') }}">Home</a></li>
			<li><a href="{{ path('ConnectionsBundle_homepage') }}">Contacts</a></li>
			<li><a href="{{ path('ScubeMailboxBundle_ajax_users_list_noparam') }}">Messages</a></li>
			
		</ul>
	</div>
</div>
{% endblock %}
