{% extends 'ScubeBaseBundle:Base_Mobile:base.html.twig' %}

{% block title %}Scube{% endblock %}

{% block body %}
{{ parent() }}
{% block back_btns %}{% endblock %}

<div data-role="content">
	<ul data-role="listview"  data-filter="true" data-theme="c" data-dividertheme="b">
		<li data-role="list-divider">Select someone to chat with ...</li>
		{% for user in users_list %}
			<li>
				<a href="{{ path("ScubeMailboxBundle_homepage_conversation", {"id_user":user.getId()}) }}" data-transition="slide">{{user.getFirstName()}} {{user.getSurname()}}</a>
            </li>
		{% endfor %}
	</ul>		
</div>

<div data-role="footer"  data-position="fixed" data-theme="b">
	<div data-role="navbar">
		<ul>
			<li><a href="{{ path('_homepage') }}">Home</a></li>
			<li><a href="{{ path('ConnectionsBundle_homepage') }}">Contacts</a></li>
			<li><a href="{{ path('ScubeMailboxBundle_ajax_users_list_noparam') }}">Messages</a></li>
			
		</ul>
	</div>
</div>
{% endblock %}
