<li><a href="{{ path("ScubeAdminSystemBundle_homepage")}}">Maintenance</a></li>
<li><a href="{{ path("ScubeAdminSystemBundle_dbSettings")}}">Database Settings</a></li>
<li><a href="{{ path("ScubeAdminSystemBundle_mtnSettings")}}">Maintenance Settings</a></li>
<li><a href="{{ path("ScubeAdminSystemBundle_devlogs")}}">Development Logs</a></li>
<li><a href="{{ path("ScubeAdminSystemBundle_prodlogs")}}">Production Logs</a></li>