<h1>{{user.firstname}} {{user.surname}}</h1>

<table class="start_menu">
	<tr>
		<td class="td_top">
			<a class="AppBox start_menu_btn blue_btn" href="{{ path('ScubeProfileViewerBundle_homepage', {"id_user":user.getId()}) }}">
			{% image '@ScubeBaseBundle/Resources/public/images/profile.png' %}
			<br /><img src="{{ asset_url }}" alt="My profile"/><br />
			{% endimage %}
			Profile</a>
		</td>
		<td class="td_top">
			<div class="start_menu_btn">
				<table class="start_menu">
					<tr>
						<td class="td_top" >
							<a class="AppBox start_menu_mini_btn" href="{{ path('ScubeMyAppsBundle_homepage') }}">
							{% image '@ScubeBaseBundle/Resources/public/images/applications.png' %}
							<br /><img src="{{ asset_url }}" alt="My apps" title="My Apps" />
							{% endimage %}
							</a>
						</td>
						<td class="td_top">
							<a class="AppBox start_menu_mini_btn" href="{{ path('ScubeMailboxBundle_homepage') }}">
							{% image '@ScubeBaseBundle/Resources/public/images/inbox.png' %}
							<br /><img src="{{ asset_url }}" alt="Mailbox" title="Mailbox" />
							{% endimage %}
							</a>
						</td>
					</tr>
					<tr>
						<td class="td_top">
							<a class="AppBox start_menu_mini_btn" href="{{ path('ConnectionsBundle_homepage') }}">
							{% image '@ScubeBaseBundle/Resources/public/images/connections.png' %}
							<br /><img src="{{ asset_url }}" alt="Connections" title="Connections" />
							{% endimage %}
							</a>
						</td>
						<td class="td_top">
							<a class="AppBox start_menu_mini_btn" href="{{ path('ScubeMediasBundle_homepage') }}">
							{% image '@ScubeBaseBundle/Resources/public/images/medias.png' %}
							<br /><img src="{{ asset_url }}" alt="Medias" title="Medias" />
							{% endimage %}
							</a>
						</td>
					</tr>
				</table>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<a class="AppBox start_menu_btn yellow_btn" href="{{ path('ScubeAccountBundle_homepage') }}">
			{% image '@ScubeBaseBundle/Resources/public/images/myinfos.png' %}
			<br /><img src="{{ asset_url }}" alt="My infos"/><br />
			{% endimage %}
			My infos</a>
		</td>
		<td>
			<a class="start_menu_btn red_btn" href="{{ path('_logout') }}">
			{% image '@ScubeBaseBundle/Resources/public/images/shutdown.png' %}
			<br /><img src="{{ asset_url }}" alt="Logout"/><br />
			{% endimage %}
			Logout</a>
		</td>
	</tr>
</table>