{% extends 'ScubeBaseBundle:Base:core_application.html.twig' %}


{% block body %}
{{ parent() }}

<div class="Application">

<table class="table_content">
<tr>
	<td class="sidebar_left">
		{% include 'ScubeAdminAppsBundle:AdminApps:menu.html.twig' %}
	</td>
	<td class="sidebar_main">
		<h1>Apps Manager</h1>
		
		<p class="result_table">
			<a href="{{ path("AdminAppsBundle_install")}}" class="button green">+ Manual install</a>
		</p>
		
		<div class="result_table_scroll">
			<table class="table_full_size result_table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Category</th>
						<th>Actions</th>
					</tr>
				</thead>
				
				<tbody>
					{% for app in app_list %}
					<tr>
						<td>
							<div class="table_title">{{app.getName()}}</div>
							<div class="table_text">{{app.getDescription()}}</div>
						</td>
						<td>
							{{app.getType()}}
						</td>
						<td>
							{{app.getCategory()}}
						</td>
						<td>
							{% if app.getNecessary() == false and app.getActivated() %}
								<a href="{{ path("AdminAppsBundle_activate", { 'id': app.getId(), 'val':0 })}}" class="button yellow">Desactivate</a>
							{% elseif app.getNecessary() == false and app.getActivated() == false %}
								<a href="{{ path("AdminAppsBundle_activate", { 'id': app.getId(), 'val':1 })}}" class="button yellow">Activate</a>
							{%endif%}
							
							{% if app.getNecessary() == false %}
								<a href="{{ path("AdminAppsBundle_remove", { 'id': app.getId()})}}" class="button red">Uninstall</a>
							{%endif%}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</td>
</tr>
</div>

<script>

function resize_table()
{
	available_height = $(".Application").height()	 - $(".sidebar_main h1").outerHeight(true) - $("p.result_table").outerHeight(true) + 11;
	$('table.result_table').css("max-height", available_height);
	$('div.result_table_scroll').css("height", available_height);
}

$(document).ready(function() 
	{
		resize_table();
	});
$(window).resize(function() 
	{
		resize_table();
	});

</script>

{% endblock %}