{% extends 'ScubeBaseBundle:Base:core_application.html.twig' %}


{% block body %}
{{ parent() }}

<div class="Application">

<table class="table_content">
<tr>
	<td class="sidebar_left">
		{% include 'ScubeAdminAppsBundle:AdminApps:menu.html.twig' %}
	</td>
	<td class="sidebar_main">
		<h1>Install application</h1>
		{% if success %}
			<p class="form_success">Application has been successfully installed.</p>
		{% endif %}
		
		{% if error %}
			<p class="form_error">An error occured : {{ error }}</p>
		{% endif %}
		
		<p>If your application is already installed, please uninstall before (for a reinstall process).</p>
		
		<form action="{{ path('AdminAppsBundle_install') }}" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
		
			<input type="submit" value="Install now" />
		</form>
	</td>
</tr>
</div>

<script>
$(".select_actions").change(function() {
	load_page($("#"+$(this).attr('id') + " option:selected").attr('value'));
});
</script>

{% endblock %}
