{% extends 'ScubeBaseBundle:Base:core_application.html.twig' %}


{% block body %}
{{ parent() }}

<div class="Application">

<table class="table_content">
<tr>
	<td class="sidebar_left">
		{% include 'ScubeAccountBundle:Account:menu.html.twig' %}
	</td>
	<td class="sidebar_main">
		<h1>{% trans %}Edit account{% endtrans %}</h1>

		{% if success %}
			<p class="form_success">{% trans %}Your account has been successfully updated{% endtrans %}. {% trans %}For a full update{% endtrans %}, <a target="_parent" href="{{ path('_homepage') }}">{% trans %}please refresh your desktop{% endtrans %}</a>.</p>
		{% endif %}
		<form action="{{ path('ScubeAccountBundle_homepage') }}" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
		
			<input type="submit" value="{% trans %}Save{% endtrans %}" />
		</form>
	</td>
</tr>
</table>

</div>

{% endblock %}
