{% extends 'ScubeBaseBundle:Base:core_application.html.twig' %}


{% block body %}
{{ parent() }}

<div class="Application">

<table class="table_content">
<tr>
	<td class="sidebar_left">
		{% include 'ScubeAccountBundle:Account:menu.html.twig' %}
	</td>
	<td class="sidebar_main">
		<h1>{% trans %}Edit email and password{% endtrans %}</h1>

		{% if success %}
			<p class="form_success">{% trans %}Your account has been successfully updated{% endtrans %}. {% trans %}For a full update{% endtrans %}, <a target="_parent" href="{{ path('_homepage') }}">{% trans %}please refresh your desktop here{% endtrans %}</a>.</p>
		{% endif %}

		<div class="scroll_container" rel="scroller">
			<form action="{{ path('ScubeAccountBundle_edit_email_password') }}" method="post" {{ form_enctype(form) }}>
				{{ form_widget(form) }}
			
				<input type="submit" value="{% trans %}Save{% endtrans %}" />
			</form>
		</div>
	</td>
</tr>
</table>

</div>

{% endblock %}
