{% extends 'ScubeBaseBundle:Base:core_application.html.twig' %}


{% block body %}
{{ parent() }}

<div class="Application">

<table class="table_content">
<tr>
	<td class="sidebar_left">
		<ul class="sidebar_navigation">
			<li><a href="{{ path("AdminSettingsBundle_homepage")}}">Manage settings</a></li>
		</ul>
	</td>
	<td class="sidebar_main">
		<h1>Settings Manager</h1>
		
		<div class="result_table_scroll">
			<table class="table_full_size result_table">
				<thead>
					<tr>
						<th>Key</th>
						<th>Value</th>
						<th>Actions</th>
					</tr>
				</thead>
				
				<tbody>
					{% for setting in settings_list %}
					<tr>
						<td>
							<div class="table_title">{{setting.getKey()}}</div>
						</td>
						<td>
							{{setting.getValue()}}
						</td>
						<td>
							<a href="{{ path("AdminSettingsBundle_edit", { 'id': setting.getId()})}}" class="button grey small">Edit</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</td>
</tr>
</table>
</div>

<script>

function resize_table()
{
	available_height = $(".Application").height()	 - $(".sidebar_main h1").outerHeight(true);
	$('table.result_table').css("max-height", available_height);
	$('div.result_table_scroll').css("height", available_height);
}

$(document).ready(function() 
	{
		resize_table();
	});
$(window).resize(function() 
	{
		resize_table();
	});

</script>

{% endblock %}
