{% extends 'ScubeBaseBundle:Base:base_application.html.twig' %}


{% block body %}
{{ parent() }}

<div class="Application">

<table class="table_content">
<tr>
	<td class="sidebar_left">
		<div id="search_input" style="text-align:center;padding-top:5px;">
			
			<input type="text" name="search_connection" id="search_connection" /> 
		
			{% image '@ScubeConnectionsBundle/Resources/public/images/search.png' %}
				<img id="loaded" style="height:25px;" src="{{ asset_url }}" alt="Search" />
			{% endimage %}
			
			{% image '@ScubeConnectionsBundle/Resources/public/images/ajax-loader.gif' %}
				<img id="loading" style="height:25px;" src="{{ asset_url }}" alt="Search" />
			{% endimage %}
		</div>		
		
		<ul id="search_list">
			
		</ul>
	</td>
	<td class="sidebar_main">
		
		<h1>Mailbox{%if conversation%} -> {{conversation.interlocutor.firstname}} {{conversation.interlocutor.surname}}{%endif%}</h1>
		
		{%if conversation%}
			{% for mail in conversation.getMails() %}
				<div class="mailbox_message type_{{mail.getType()}}">
					<p class="message_name">
						{%if mail.type == "in"%}
							{{conversation.interlocutor.firstname}} {{conversation.interlocutor.surname}} 
						{% else %}
							{{user.firstname}} {{user.surname}} 
						{%endif%}
						 says:
					</p>
					<p class="message_content">{{mail.getMessage()}}</p>
					<p class="message_date">{{mail.getMailingDate()|date()}}</p>
				</div>
			{% endfor %}
			
			<form class="top_form" action="{{ path("ScubeMailboxBundle_homepage_conversation", {'id_user':conversation.interlocutor.getId()} )}}" method="post" {{ form_enctype(form) }}>
			
			{{ form_widget(form._token) }}
			{{ form_widget(form.message) }}
		
			<input type="submit" value="send !" />
		</form>
			
			
		{%else%}
			<p style="min-height:150px;">Please select an interlocutor in the left sidebar to load the conversation.</p>
		{%endif%}
		
	</td>
</tr>
</div>

<script>

var group_selected = false;

	$(document).ready(function() 
	{
		load_users_list();
		$("#search_connection").keyup(function() 
		{
			load_users_list();
		});
		
	});
	
function	load_users_list()
{
	var url = "{{ path("ScubeMailboxBundle_ajax_users_list_noparam") }}";
	
	if ($("#search_connection").val())
		url = url + "/" + $("#search_connection").val();
	else
		url = url + "/0";
	

	$.ajax({
			  url: url,
			  beforeSend: function() {
			  	$("#loaded").hide();
				$("#loading").show();
			  },
			  success: function(data) {	
			  	$("#search_list").html(data);
				$("#loaded").show();
				$("#loading").hide();
			  }
			});
}

</script>

<style>
	.top_form {
		text-align:center;
		margin-bottom:20px;
		vertical-align:middle;
	}
	.top_form input[type="submit"] {
		display:inline;
		margin:0;
		width:30%;
		border-radius:5px;
		vertical-align:middle;
	}
	.top_form textarea {
		display:inline;
		margin:0;
		width:65%;
		border-radius:5px;
		vertical-align:middle;
	}
	
	#search_input img {
		vertical-align:middle;
	}
	
	
	#search_connection {
		border-radius:5px;
		margin:0px;
		width:70%;
		display:inline;
	}
	#search_list {
		padding-left:5px;
	}
	#search_list li {
		list-style-type:none;
		border-bottom:1px solid white;
		padding:0;
		cursor:pointer;
	}
	
	#loading {
		display:none;
	}
	
	.top_form_left input[type="text"] {
		float:left;
		width:80%;
		display:block;
		font-weight:bold;
		border:none;
		text-align:center;
		font-size:16px;
		font-weight:bold;
		margin-left:16px;
	}
	.top_form_left input[type="checkbox"] {
		float:right;
		width:15%;
		height:16px;
		display:block;
		margin:0px;
	}
	.top_form_left label {
		height:16px;
		font-size:10px;
		float:left;
		width:80%;
		display:block;
		text-align:left;
		font-weight:normal;
	}
	
	.mailbox_message {
		width:60%;
		margin:10px;
		background-color:white;
		border-radius:5px;
		box-shadow: 0 0 5px #555;
	}
	.type_in {
		background-color:white;
		float:left;
	}
	.type_out {
		background-color:#B7AA10;
		float:right;
	}
	.message_name {
		margin:3px;
		color:#333;
		font-size:10px;
		text-align:left;
	}
	.message_content {
		margin:10px;
		color:black;
		font-size:14px;
		text-align:left;
	}
	.message_date {
		margin:3px;
		color:#333;
		font-size:10px;
		text-align:right;
	}
	
</style>



{% endblock %}
