{% extends 'ScubeBaseBundle:Base:base_application.html.twig' %}


{% block body %}
{{ parent() }}

<div class="Application">

<table class="table_content">
<tr>
	<td class="sidebar_left">
		<ul class="sidebar_navigation">
			<li><a href="{{ path("AdminAppsBundle_homepage")}}">Application list</a></li>
			<li><a href="{{ path("AdminAppsBundle_install")}}">Install application</a></li>
			<li><a href="{{ path("AdminAppsBundle_widget_homepage")}}">Widget List</a></li>
			<li><a href="{{ path("AdminAppsBundle_widget_install")}}">Install widget</a></li>
		</ul>
	</td>
	<td class="sidebar_main">
		<h1>Install application</h1>
		{% if success %}
			<p class="form_success">Application has been successfully installed.</p>
		{% endif %}
		
		<p>If your application is already installed, please uninstall before (for a reinstall process).</p>
		
		<form action="{{ path('AdminAppsBundle_install') }}" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
		
			<input type="submit" value="Install now" />
		</form>
	</td>
</tr>
</div>

<script>
$(".select_actions").change(function() {
	load_page($("#"+$(this).attr('id') + " option:selected").attr('value'));
});
</script>

{% endblock %}
