{% extends 'ScubeBaseBundle:Base_Mobile:base.html.twig' %}

{% block title %}Scube{% endblock %}

{% block body %}
{{ parent() }}
{% block back_btns %}{% endblock %}

<div data-role="content">
	<div class="ui-grid-a">
		<div class="ui-block-a">
			<div class="ui-bar" style="height:60px; width: 60px; text-align: center;">
				{% if user_to_display.getProfile().getPicture() %}
					<img style="width:50% vertical-align:middle;" src="{{ user_to_display.getProfile().getPicture() }}" alt="Profile Picture"/>
				{% else %}
					{% image '@ScubeBaseBundle/Resources/public/images/user.png' %}
						<img style="width:50% vertical-align:middle;" src="{{ asset_url }}" alt="Profile Picture"/>
					{% endimage %}
				{% endif %}
			</div>
		</div>
		<div class="ui-block-b">
			<div class="ui-bar" style="height:60px; text-align: center; line-height: 60px; font-weight:bold; right: 36%; width: 100%">
			{{ user_to_display.getFirstname }} {{ user_to_display.getSurname }}
			</div>
		</div>	
	</div>
	<div data-role="content">
			<div data-role="collapsible-set" data-theme="b">

				<div data-role="collapsible">
				<h3>Infos</h3>
				<p>Gender: {{ user_to_display.getGender }}</p>
				<p>Birthday: {{ user_to_display.getBirthday|date("d/m/Y") }}</p>
				<p>Email: {{ user_to_display.getEmail }}</p>
				</div>
				
				<div data-role="collapsible">
				<h3>More</h3>
				<a href="#" data-role="button" data-theme="a" data-icon="info">Send a message</a>
				<a href="#" data-role="button" data-theme="a" data-icon="star">Add in a group</a>
				</div>
				
			</div>

	</div>		
</div>

<div data-role="footer"  data-position="fixed" data-theme="b">
	<div data-role="navbar">
		<ul>
			<li><a href="{{ path('_homepage') }}">Home</a></li>
			<li><a href="{{ path('ConnectionsBundle_homepage') }}">Contacts</a></li>
			<li><a href="#">Messages</a></li>
		</ul>
	</div>
</div>
{% endblock %}
