{% extends 'ScubeBaseBundle:Base:core_application.html.twig' %}


{% block body %}
{{ parent() }}

<div class="Application">

<table class="table_content">
<tr>
	<td class="sidebar_left" style="width:15%;">
		{% include 'ScubeAdminUserBundle:AdminUser:menu.html.twig' %}
	</td>
	<td class="sidebar_main">
		<h1>Create user</h1>
		
		<p class="result_table">
			<a href="{{ path("AdminUserBundle_homepage")}}" class="button grey"><- Back to Users</a>
		</p>
		
		{% if success %}
			<p class="form_success">The user has been successfully added.</p>
		{% endif %}
		<form action="{{ path("AdminUserBundle_user_add")}}" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
		
			<input type="submit" value="Save" />
		</form>
	</td>
</tr>
</div>

{% endblock %}