{% extends 'ScubeBaseBundle:Base:core_application.html.twig' %}


{% block body %}
{{ parent() }}

<div class="Application">

<table class="table_content">
<tr>
	<td class="sidebar_left" style="width:15%;">
		{% include 'ScubeAdminUserBundle:AdminUser:menu.html.twig' %}
	</td>
	<td class="sidebar_main">
		<h1>{% trans %}Edit group{% endtrans %} {{grp.getName()}}</h1>
		
		<div class="btn_line">
			<a href="{{ path("AdminUserBundle_groups")}}" class="button grey"><- {% trans %}Back to Groups{% endtrans %}</a>
		</div>
		
		{% if success %}
			<p class="form_success">{% trans %}The group has been successfully updated{% endtrans %}.</p>
		{% endif %}
		
		<div class="scroll_container" rel="scroller">
			<form action="{{ path("AdminUserBundle_group_edit", { 'id': grp.getId()})}}" method="post" {{ form_enctype(form) }}>
				{{ form_widget(form) }}
			
				<input type="submit" value="{% trans %}Save{% endtrans %}" />
			</form>
		</div>
	</td>
</tr>
</div>

{% endblock %}