{% extends 'ScubeBaseBundle:Base:core_application.html.twig' %}


{% block body %}
{{ parent() }}

<div class="Application">

<table class="table_content">
<tr>
	<td class="sidebar_left" style="width:15%;">
		{% include 'ScubeAdminUserBundle:AdminUser:menu.html.twig' %}
	</td>
	<td class="sidebar_main">
		<h1>Groups Manager</h1>
		<p class="floating_right"><a href="{{ path("AdminUserBundle_group_add")}}">+ Add a group</a></p>
	
		<table class="table_full_size">
		
			{% for grp in grp_list %}
			<tr>
				<td>
					<div class="table_title">{{grp.getName()}}</div>
				</td>
				<td>
					<a href="{{ path("AdminUserBundle_group_edit", { 'id': grp.getId()})}}">Edit</a>
				</td>
				<td>
					<a href="{{ path("AdminUserBundle_group_remove", { 'id': grp.getId()})}}">Remove</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</td>
</tr>
</div>

{% endblock %}