{% extends 'ScubeBaseBundle:Base:core_application.html.twig' %}


{% block body %}
{{ parent() }}

<div class="Application">

<table class="table_content">
<tr>
	<td class="sidebar_left" style="width:15%;">
		{% include 'ScubeAdminUserBundle:AdminUser:menu.html.twig' %}
	</td>
	<td class="sidebar_main">
		<h1>Users Manager</h1>
		
		<p class="result_table">
			<a href="{{ path("AdminUserBundle_user_add")}}" class="button green">+ Create user</a>
		</p>
		
		<div class="result_table_scroll">
			<table class="table_full_size result_table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Status</th>
						<th>Group</th>
						<th>Member for</th>
						<th>Last access</th>
						<th>Actions</th>
					</tr>
				</thead>
				
				<tbody>
					{% for usr in usr_list %}
					<tr>
						<td>
							<div class="table_title">{{usr.getEmail()}}</div>
							<div class="table_text">{{usr.getFirstname()}} {{usr.getSurname()}}</div>
						</td>
						<td>
							{% if usr.getBlocked %}
								Blocked
							{% else %}
								Active
							{% endif %}
						</td>
						<td>
							{{usr.getPermissionsGroup().getName()}}
						</td>
						<td>
							{{ usr.getDateRegister()|ago }}
						</td>
						<td>
							{{ usr.getDateLastAccess()|ago }}
						</td>
						<td>
							<a href="{{ path("AdminUserBundle_user_edit", { 'id': usr.getId()})}}" class="button grey">Edit</a>
							<a href="{{ path("AdminUserBundle_user_remove", { 'id': usr.getId()})}}" class="button red">Remove</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
				
			</table>
		</div>
	</td>
</tr>
</div>

<script>

function resize_table()
{
	available_height = $(".Application").height()	 - $(".sidebar_main h1").outerHeight(true) - $("p.result_table").outerHeight(true) + 11;
	$('table.result_table').css("max-height", available_height);
	$('div.result_table_scroll').css("height", available_height);
}

$(document).ready(function() 
	{
		resize_table();
	});
$(window).resize(function() 
	{
		resize_table();
	});

	
</script>

{% endblock %}