{% macro affArray(array) %}
<ul>
    {% for key, value in array %}
        <li>
        {% for item in value %}
        	{% if loop.first %}
            	{{key}} -> {{ _self.affArray(value) }}
            {% endif %}
        {% else %}
            {{key}} -> {{value}}
        {% endfor %}
        </li>
    {% endfor %}
</ul>
{% endmacro %}

{% extends 'ScubeBaseBundle:Base:core_application.html.twig' %}


{% block body %}
{{ parent() }}

<div class="Application">
      <a href="#fbFeed">Wall</a><br>
      <a href="#fbFriends">Friends</a><br>
      <a href="#fbInbox">Inbox</a><br><br>
    {% if fbUser %}
      <a href="{{logoutUrl}}">Logout</a><br>
      <img src='https://graph.facebook.com/{{fbProfile['username']}}/picture'>
      
			<form action="{{ path("ScubeFacebookBundle_homepage")}}" method="post" {{ form_enctype(form) }}>
				
				{{ form_widget(form) }}
			
				<input type="submit" value="Post on your Facebook Wall" />
			</form>
			
      	{{ _self.affArray(fbProfile) }}
      	<h3 id="fbFeed">Wall :</h3>
      	{{ _self.affArray(fbFeed) }}
      	<h3 id="fbFriends">Friends :</h3>
      	{{ _self.affArray(fbFriends) }}
      	<h3 id="fbInbox">Inbox :</h3>
      	{{ _self.affArray(fbInbox) }}
		
	{% else %}
      <div>
        <a href="{{loginUrl}}">Login with Facebook</a>
      </div>
    {% endif %}
</script>

</div>

{% endblock %}