{% extends 'ScubeBaseBundle:Base_Mobile:base.html.twig' %}

{% block title %}Scube{% endblock %}

{% block body %}
{{ parent() }}
{% block back_btns %}{% endblock %}

<div data-role="content">
	<ul data-role="listview"  data-filter="true" data-theme="c" data-dividertheme="b">
		{% for group in user.getConnectionsGroups() %}
			<li data-role="list-divider">{{group.getName()}}</li>
			{% for userInGroup in group.getUsers() %}
				<li>
					<a href="{{ path('ScubeProfileViewerBundle_homepage', { 'id_user': userInGroup.getId() }) }}" data-transition="slide">{{userInGroup.getFirstName()}} {{userInGroup.getSurname()}}</a>
                </li>
			{% endfor %}
		{% endfor %}
		<li data-role="list-divider">All</li>
		{% for userInList in users_list %}
			{% set userExists = false %}
			{% for group in user.getConnectionsGroups() %}
				{% for userInGroup in group.getUsers() %}
					{% if userInList.getId() == userInGroup.getId() %}
						{% set userExists = true %}
					{% endif %}
					{% if userInList.getId() == user.getId() %}
						{% set userExists = true %}
					{% endif %}
				{% endfor %}
			{% endfor %}
			{% if userExists == false %}
				<li>
					<a href="{{ path('ScubeProfileViewerBundle_infos', { 'id_user': userInList.getId() }) }}" data-transition="slide">{{userInList.getFirstName()}} {{userInList.getSurname()}}</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>

<div data-role="footer"  data-position="fixed" data-theme="b">
	<div data-role="navbar">
		<ul>
			<li><a href="{{ path('_homepage') }}">Home</a></li>
			<li><a href="{{ path('ConnectionsBundle_homepage') }}">Contacts</a></li>
			<li><a href="{{ path('ScubeMailboxBundle_ajax_users_list_noparam') }}">Messages</a></li>
		</ul>
	</div>
</div>
{% endblock %}
