{% extends 'ScubeBaseBundle:Base:core_base.html.twig' %}

{% block title %}Scube{% endblock %}

{% block more_javascripts %}
{% javascripts
    '@ScubeBaseBundle/Resources/public/js/core.grid.js' 
	'@ScubeBaseBundle/Resources/public/js/core.application.js' 
	'@ScubeBaseBundle/Resources/public/js/core.homebox.js' 
	'@ScubeBaseBundle/Resources/public/js/core.checkbox.js' 
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>

	$(document).ready(function() 
	{
		load_Grid();
		
		
		start_application_loader();
		start_homebox_system('{{ path('_frame_profile') }}');
		
		
		{% image '@ScubeBaseBundle/Resources/public/images/empty.png' %}
			$("input:checkbox[name=grid_lock]").checkbox({empty:"{{ asset_url }}"});
			$("input:checkbox[name=grid_admin]").checkbox({empty:"{{ asset_url }}"});
		{% endimage %}
		
		
		start_checkbox_system();
		
		
		
	});

	$(window).resize(function() 
	{
		if (admin_mode == true)
			load_AdminGrid();
		else
			load_Grid();
			
		refresh_application();
	});


  var Widgets = {
				{% for widget in user.getBaseInterface().getWidgets() %}
					"cell_{{widget.id}}":{"id":{{widget.id}},"pos_x":{{widget.posX}},"pos_y":{{widget.posY}},"width":{{widget.width}},"height":{{widget.height}},"url":"{{ path(widget.widget.link)}}","fullscreen":"{{ widget.widget.fullscreen }}","type":"{{ widget.widget.type }}","button_link":"{{ path(widget.widget.getButtonLink())}}"},
				{% endfor %}
			  };
  var AdminWidgets = {
				{% for app in user.getPermissionsGroup().getAdminApplications() %}
					"admin_cell_{{app.id}}":{"id":{{app.id}},"url":"{{ path(app.link)}}","name":"{{ app.name}}"},
				{% endfor %}
			  };
			  
  var	cells_per_line = {{ dashboard_width.value }}/*7*/;
  var	nb_line = {{ dashboard_height.value }}/*5*/;

function	load_empty_cells(x, y)
{
	$(".empty_cell_hover").attr("href", "{{ path("ScubeMyAppsBundle_add_widget")}}/" + x + "/" + y);
	$(".empty_cell_hover").addClass("AppBox");
}

function	unload_empty_cells()
{
	$(".empty_cell_hover").removeAttr("href");
	$(".empty_cell_hover").removeClass("AppBox");
}
			  
function	load_widget(id, force)
{
	if ($("#"+id+" .widget_content").length == 0 || force)
		$.ajax({
		  url: Widgets[id]["url"],
		  beforeSend: function() {			
			$("#"+id).append("<div class='widget_content'></div>");
		  },
		  success: function(data) {			
			$("#"+id+" .widget_content").html(data);
			$(".GridButton_title").fitText();
		  }
		});
}

function	load_adminWidget(id, force)
{
	/* LE HREF DANS LA DIV PEUT POSER PROBLEME */
	$("#"+id).append('<div class="widget_content AppBox" href="'+AdminWidgets[id]['url']+'"><div class="GridButton"><p class="GridButton_title">'+AdminWidgets[id]['name']+'</p></div></div>');
	$(".GridButton_title").fitText();
}

function	save_moving_position(id, pos_x, pos_y)
{
	$.ajax({
		  url: "{{ path("ScubeMyAppsBundle_save_widget_position_noparam") }}/"+Widgets[id]['id']+"/"+pos_x+"/"+pos_y
		});
}

function	delete_widget_from_grid(id)
{
	$.ajax({
		  url: "{{ path("ScubeMyAppsBundle_delete_widget_noparam") }}/"+Widgets[id]['id'],
		  success: function(data) {	
		  		$("#"+id).fadeOut(500, function() {
					$("#"+id).remove();
					WidgetsOnGrid[Widgets[id]['pos_y']][Widgets[id]['pos_x']] = 0;
					delete Widgets[id];
				}); 
			}
		});
}
			  
</script>

<style>

.cell_fullscreen {
	{% image '@ScubeBaseBundle/Resources/public/images/fullscreen.png' %}
		background:transparent url({{ asset_url }}) top left no-repeat;
	{% endimage %}
}
.cell_fullscreen:hover {
	{% image '@ScubeBaseBundle/Resources/public/images/fullscreen_hover.png' %}
		background:transparent url({{ asset_url }}) top left no-repeat;
	{% endimage %}
}
.cell_remove {
	{% image '@ScubeBaseBundle/Resources/public/images/remove.png'	%}
		background:transparent url({{ asset_url }}) top left no-repeat;
	{% endimage %}
}

.cell_anchor {
	{% image '@ScubeBaseBundle/Resources/public/images/anchor.png'	%}
		background:transparent url({{ asset_url }}) top left no-repeat;
	{% endimage %}
}

.empty_cell_hover {
	{% image '@ScubeBaseBundle/Resources/public/images/background_cell_hover.png'	%}
		background:url({{ asset_url }}) center no-repeat;
	{% endimage %}
}

.jquery-checkbox img {
	{% image '@ScubeBaseBundle/Resources/public/images/checkbox.png'	%}
		background: transparent url({{ asset_url }}) no-repeat;
	{% endimage %}
}

body {
	overflow:hidden;
}



</style>

{% endblock %}

{% block body %}
{{ parent() }}

<div id="Application_loader">
	{% image '@ScubeBaseBundle/Resources/public/images/application_loader.gif' %}
		<img src="{{ asset_url }}" alt="Loading.." />
	{% endimage %}
</div>

<div id="Application_closer">
	{% image '@ScubeBaseBundle/Resources/public/images/close_application.png' %}
		<img src="{{ asset_url }}" alt="Close" />
	{% endimage %}
</div>

<div id="Application_suspender">
	{% image '@ScubeBaseBundle/Resources/public/images/suspend_application.png' %}
		<img src="{{ asset_url }}" alt="Suspend" />
	{% endimage %}
</div>

<div id="GridContainer">
	<div id="Grid"></div>
</div>

{% endblock %}