{% javascripts
    '@ScubeMediasBundle/Resources/public/js/flashobject.js' 
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<h1 style="color:white;text-shadow:none;">{{media.name}}</h1>

<div id="vizualiser">
{% if media.type == "picture" %}
	<img style="vertical-align:bottom;display:inline;" src="{{media.path}}" alt="{{media.name}}" />
	<hr />
	<center>
		{% if prev_media.id != "" %}
			<span>
				<a href="#" onclick='load_media("{{ prev_media.id }}", "{{ prev_media.type }}");'>
					{% image '@ScubeBaseBundle/Resources/public/images/arrow-left-previous-32.png' %}
						<img src="{{ asset_url }}" alt="Previous" title="Previous" />
					{% endimage %}
				</a>
			</span>
		{%endif%}
		{% if next_media.id != "" %}
			<span>
				<a href="#" onclick='load_media("{{ next_media.id }}", "{{ next_media.type }}");'>
					{% image '@ScubeBaseBundle/Resources/public/images/arrow-right-next-32.png' %}
						<img src="{{ asset_url }}" alt="Next" title="Next" />
					{% endimage %}
				</a>
			</span>
		{%endif%}		
	</center>
{% elseif media.type == "document" %}
	<iframe style="border:none;" src="{{media.path}}"></iframe>
{% elseif media.type == "video" %}
	<div style="display:inline-block;">
    <div id="lecteur_79330" style="display:inline-block;">
		<a href="http://www.macromedia.com/go/getflashplayer">Vous devez installer le Plugin FlashPlayer</a>
    </div>
    <script type="text/javascript">
    //<!--
		var flashvars_79330 = {};
		var params_79330 = {
				quality: "high",
				bgcolor: "#000000",
				allowScriptAccess: "always",
				allowFullScreen: "true",
				wmode: "transparent",				
				flashvars: "fichier=http://localhost{{media.path}}"
			};
		var attributes_79330 = {};
        flashObject("../../v1_7.swf", "lecteur_79330", "720", "405", "8", false, flashvars_79330, params_79330, attributes_79330);
    //-->
    </script>
	</div>
	<hr />
	<center>
		{% if prev_media.id != "" %}
			<span>
				<a href="#" onclick='load_media("{{ prev_media.id }}", "{{ prev_media.type }}");'>
					{% image '@ScubeBaseBundle/Resources/public/images/arrow-left-previous-32.png' %}
						<img src="{{ asset_url }}" alt="Previous" title="Previous" />
					{% endimage %}
				</a>
			</span>
		{%endif%}
		{% if next_media.id != "" %}
			<span>
				<a href="#" onclick='load_media("{{ next_media.id }}", "{{ next_media.type }}");'>
					{% image '@ScubeBaseBundle/Resources/public/images/arrow-right-next-32.png' %}
						<img src="{{ asset_url }}" alt="Next" title="Next" />
					{% endimage %}
				</a>
			</span>
		{%endif%}		
	</center>
{%endif%}
</div>