<h1 style="color:white;text-shadow:none;">{{media.name}}</h1>

<div id="vizualiser">
{% if media.type == "picture" %}
	<img style="vertical-align:bottom;display:inline;" src="{{media.path}}" alt="{{media.name}}" />
	<center>
		{% if prev_media != "" %}
			<span>
				<a href="#" onclick='load_media("{{ prev_media }}", "{{ "picture" }}");'>
					{% image '@ScubeBaseBundle/Resources/public/images/arrow-left-previous-32.png' %}
						<img src="{{ asset_url }}" alt="Previous" title="Previous" />
					{% endimage %}
				</a>
			</span>
		{%endif%}
		{% if next_media != "" %}
			<span>
				<a href="#" onclick='load_media("{{ next_media }}", "{{ "picture" }}");'>
					{% image '@ScubeBaseBundle/Resources/public/images/arrow-right-next-32.png' %}
						<img src="{{ asset_url }}" alt="Next" title="Next" />
					{% endimage %}
				</a>
			</span>
		{%endif%}		
	</center>
{% elseif media.type == "document" %}
	<iframe style="border:none;" src="{{media.path}}"></iframe>
{% elseif media.type == "video" %}
	lololalalalalalalalolololo
{%endif%}
</div>