{% if list is empty %}
There is no picture
<br />
{% else %}
{% for img in list %}
    		<a href='{{ img }}'><img style='margin-left:30px;' width='250' src='{{ img }}'></a>
{% endfor %}
<br />
{% endif %}
{% if list is empty %}
<a href="{{ path('ScubeManageFileBundle_upload') }}"> <input type="button" value="Upload a picture"> </a>
{% else %}
<a href="{{ path('ScubeManageFileBundle_upload') }}"> <input type="button" value="Upload an other picture"> </a>
<a href="{{ path('ScubeManageFileBundle_delete') }}"> <input type="button" value="Delete pictures"> </a>
{% endif %}