<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{% block title %}Scube{% endblock %}</title>

{% javascripts
    '@ScubeBaseBundle/Resources/public/js/*'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% stylesheets
    '@ScubeBaseBundle/Resources/public/css/*'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

<!--[if lt IE 7]>
 <style type="text/css">
 .dock img { behavior: url({{ asset('bundles/base/iepngfix.htc') }}) }
 </style>
<![endif]-->

</head>
<body>
{% block body %}
<div id="header">
	<a href="{{ path('_homepage') }}">
	{% image '@ScubeBaseBundle/Resources/public/images/logo_scube_entete.png' output='/images/logo.jpg'	%}
	<img src="{{ asset_url }}" alt="Logo"/></a>
	{% endimage %}
</div>
{#
{% if user %}
<div id="tools_corner">
  <a class="FreeAppbutton fancybox.ajax" href="/Apps/"><img src="{{ asset('bundles/base/medias/tools-corner.png') }}" alt="Tools" /></a>
</div>

<div id="login_corner">
  <a class="FreeAppbutton fancybox.ajax" href="/Apps/register"><img src="{{ asset('bundles/base/medias/shutdown-corner.png') }}" alt="Logout" /></a>
</dives>
{% endif %}
#}

{% endblock %}


</body>
</html>