<h1>{{user.firstname}} {{user.surname}}</h1>


		<table id="frame_profile_infos">
		
		<tr>
		<td class="img_profile">
		{% image '@ScubeBaseBundle/Resources/public/images/user.png' output='/images/user.png'	%}
		<img src="{{ asset_url }}" alt="Picture"/></a>
		{% endimage %}
		</td>
	
		<td class="details_profile">
		<ul>
			<li>Gender: {{user.gender}}</li>
			{%if user.getProfile().status%}<li>Status: {{user.getProfile().status}}</li>{%endif%}
			{%if user.getProfile().phoneNumber%}<li>Phone: {{user.getProfile().getPhoneNumber()}}</li>{%endif%}
			{%if user.getProfile().city%}<li>City: {{user.getProfile().getCity()}}</li>{%endif%}
			{%if user.getProfile().nativeCity%}<li>Native From: {{user.getProfile().getNativeCity()}}</li>{%endif%}
			{%if user.getProfile().website%}<li>Website: {{user.getProfile().getWebsite()}}</li>{%endif%}
		</ul>
		</td>
		</tr>
		
		
		<tr>
		<td colspan='2'>
		
			<a class="AppBox account_params_btn" href="{{ path('_edit_profile') }}">Edit profile</a>
			<a class="AppBox account_params_btn" href="{{ path('_edit_account') }}">Edit account</a>
		</td>
		</tr>
		
		</table>