{% extends 'ScubeBaseBundle:Base:core_application.html.twig' %}

{% block more_javascripts %}
{% javascripts
    '@ScubeCalendarBundle/Resources/public/js/fullcalendar.js'	
	'@ScubeCalendarBundle/Resources/public/js/fullcalendar.min.js' 
	'@ScubeCalendarBundle/Resources/public/js/gcal.js'
	'@ScubeCalendarBundle/Resources/public/js/jquery-ui-1.8.17.custom.min.js'
	'@ScubeCalendarBundle/Resources/public/js/jquery-ui-timepicker-addon.js'
%}

<script type="text/javascript" src="{{ asset_url }}"></script>

{% endjavascripts %}

{% stylesheets '@ScubeCalendarBundle/Resources/public/css/*'%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<style>
	
	
	
	#calendar 
	{
		margin:0 30px;
	}
	
	.fc-event-vert .fc-event-inner {
border-width: 1px !important;
padding: 10px 20 !important;
order-left-color: none !important;
}

.fc-event-skin {
border-color: #fff;
background: #1E90FF !important;
color: #fff !important;
}
	.fc td.fc-sun {
  background: #8FBC8F;
}
		.fc td.fc-sat {
  background: #8FBC8F;
}

	
	#fade 
	{ 
		display: none;
		background: #000;
		position: fixed; left: 0; top: 0;
		width: 100%; height: 100%;
		opacity: .80;
		z-index: 9999;
	}

	.popup_block
	{
		width:200px;
		margin-left:-100px;
		margin-top:-100px;
		display: none;
		background: #fff;
		padding: 20px;
		font-size: 12px;
		position: absolute;
		top: 50%; left: 50%;
		z-index: 99999;
		-webkit-box-shadow: 0px 0px 10px #000;
		-moz-box-shadow: 0px 0px 10px #000;
		box-shadow: 0px 0px 10px #000;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}

	img.btn_close 
	{
		float: right;
		margin: -55px -55px 0 0;
	}
	
	/*--Gérer la position fixed pour IE6--*/
	*html #fade 
	{
		position: absolute;
	}
	
	*html .popup_block 
	{
		position: absolute;
	}
	
	#myForm label {
		font-size:14px;
		font-weight:bold;
		text-align:center;
		display:block;
		margin:0 auto;
		width:80%;
	}
	#myForm input {
		display:block;
		margin:5px auto;
		width:80%;
	}
	#myForm input[type="button"], #myForm input[type="submit"] {
		background-color: #92B417;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		color: white;
		font-weight: bold;
		font-size: 16px;
		border: none;
		box-shadow: 0 1px 3px #999;
		-moz-box-shadow: 0 1px 3px #999;
		-webkit-box-shadow: 0 1px 3px #999;
	}
	#myForm input[type="button"] {
		background-color: #94211A;
	}

	#event_edit_container {
		display:none;
	}
	#event_edit_container ul {
		list-style-type:none;
		margin:0;
		padding:0;
	}
	#event_edit_container label, #event_edit_container input {
		width:100%;
	}
	
</style>



<script>
$(document).ready(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		var arrayEvents = new Array();
		var arrayEdit = new Array();
		var G_allDay = false;
		var id = 1;
		
		var calendar = $('#calendar').fullCalendar(
		{
		businessHours :{start: 8, end: 18, limitDisplay: true },
		 timeslotsPerHour : 4,
		header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			selectable: true,
			selectHelper: true,
			
			 eventRender : function(calEvent, $event) {

		},
			
		select: function(start, end, allDay) 
		{
		var $dialogContent = $("#event_edit_container");
		resetForm($dialogContent);


		var startField = $dialogContent.find("input[name='start']").val(start.getHours() + ':' + start.getMinutes());
		var endField = $dialogContent.find("input[name='end']").val(end.getHours() + ':' + end.getMinutes());
		var titleField = $dialogContent.find("input[name='title']");
		var bodyField = $dialogContent.find("textarea[name='body']");
		var groupField = $dialogContent.find("select[name='group']");


         $dialogContent.dialog(
		 {
            modal: true,
            title: "{% trans %}New Calendar Event{% endtrans %}",
            close: function() {
               $dialogContent.dialog("destroy");
               $dialogContent.hide();
               calendar.fullCalendar("removeUnsavedEvents");
            },
            buttons: {
               "{% trans %}Save{% endtrans %}" : function() {
                  
						if (titleField.val()) {
							/*set hour !*/
							arrayEvents.push(titleField.val(), start.toString(), end.toString(), allDay, groupField.val());
							$.post("{{path('CalendarBundle_addEvent')}}",{'array_events': arrayEvents});
							arrayEvents = [];
								calendar.fullCalendar('renderEvent',
								{
									id : id,
									title: titleField.val(),
									start: start,
									end: end,
									allDay: allDay,
									body : "salut"
								},
								true
							);
						}
						$dialogContent.dialog("close");
               },
               "{% trans %}Cancel{% endtrans %}" : function() 
			   {
                  $dialogContent.dialog("close");
               }
            }
         }).show();
		},
			
		eventClick: function(calEvent, $event) 
		{
		 var isTime = false;
         var $dialogContent = $("#event_edit_container");
         resetForm($dialogContent);
         var startField = $dialogContent.find("input[name='start']").val("");
       	 var endField = $dialogContent.find("input[name='end']").val("");
       	 
       	 var labelStart = $dialogContent.find("label[name='lblStart']").hide();
		 var labelEnd = $dialogContent.find("label[name='lblEnd']").hide();
		 endField.hide();
		 startField.hide();

		 console.log(calEvent.start);
		 console.log(calEvent.end);

         if (calEvent.start.getHours() && calEvent.end.getHours())
         {
         	labelEnd.show();
         	labelStart.show();
         	startField.show();
         	endField.show();

         	isTime = true;
         	startField = $dialogContent.find("input[name='start']").val(calEvent.start.getHours() + ':' + calEvent.start.getMinutes());
         	endField = $dialogContent.find("input[name='end']").val(calEvent.end.getHours() + ':' + calEvent.end.getMinutes());
         }
         var titleField = $dialogContent.find("input[name='title']").val(calEvent.title);
         var bodyField = $dialogContent.find("textarea[name='body']");
         bodyField.val(calEvent.body);

         $dialogContent.dialog(
		 {
            modal: true,
            title: "Edit - " + calEvent.title,
            close: function()
			{
               $dialogContent.dialog("destroy");
               $dialogContent.hide();
               $('#calendar').fullCalendar("removeUnsavedEvents");
            },
            buttons: 
			{
               lol : function() 
               {
               		if (isTime)
               		{
               			var tabEnd = endField.val().split(':');
               			var tabStart = startField.val().split(':');

               			calEvent.end.setHours(tabEnd[0]);
               			calEvent.start.setHours(tabStart[0]);
               			
               			calEvent.end.setMinutes(tabEnd[1]);
               			calEvent.start.setMinutes(tabStart[1]);
               		}
                calEvent.title = titleField.val();

                calendar.fullCalendar("updateEvent", calEvent);
				arrayEvents.push(calEvent.id, calEvent.title, calEvent.start.toString(), calEvent.end.toString());
				
				$.post("{{path('CalendarBundle_editEvent')}}",{'edit_event': arrayEvents});
				arrayEvents = [];
                $dialogContent.dialog("close");
               },
               "delete" : function() 
			   {
			    $('#calendar').fullCalendar("removeEvents", calEvent.id);
				arrayEvents.push(calEvent.id);
				$.post("{{path('CalendarBundle_deleteEvent')}}",{'delete_event': arrayEvents});
				arrayEvents = [];
               
				
                $dialogContent.dialog("close");
               },
               cancel : function() 
			   {
                  $dialogContent.dialog("close");
               }
            }
         }).show();				
		},		
	
			events: [
			{% for ev in user.getCalendar().getCalendarEvents() %}
					{
						id : "{{ ev.id }}",
						title: "{{ ev.title}}",
						start: new Date("{{ ev.start }}"),
						end: new Date("{{ ev.end }}"),
						allDay: "{{ ev.allDay }}"
					},
			{% endfor %}
					]
		});
		function resetForm($dialogContent) 
		{
			$dialogContent.find("input").val("");
			$dialogContent.find("textarea").val("");
		}		
	});
</script>

<script>
	$(function() {
		$("#datepicker").datepicker();
		$("#startHour").timepicker({});
		$("#endHour").timepicker({});
	});
</script>

{% endblock %}



{% block body %}
{{ parent() }}

<div id="event_edit_container">
	<form>
		<input type="hidden" />
		<ul>
		<li>
				<label for="title">{% trans %}Title{% endtrans %}: </label><input type="text" name="title" />
			</li>
			<!--
			<li>
				<span>Date: </span><span class="date_holder"></span> 
			</li>
			-->
			<li name="startTime">
				<label name="lblStart">{% trans %}Start Time{% endtrans %}</label> <input type="text" name="start" id="startHour" />
			</li>
			<li>
				<label name="lblEnd">{% trans %}End Time{% endtrans %} : </label> <input type="text" name="end" id="endHour" />
			
			</li>
			<!--
			<li>
				<label for="group">Group: </label><select name="group"><option value="">Select group</option>
				{% for group in user.getConnectionsGroups() %}
				
					<option value={{ group.getName() }} > {{ group.getName() }}</option>
				{% endfor %}
			</li>
			-->
			<li>
				<label for="body">{% trans %}Description{% endtrans %}: </label><textarea name="body"></textarea>
			</li>
		</ul>
	</form>
</div>

<div class="Application">
	<!--
	<div > <p> You have {{ user.getCalendar().getCalendarEventsToAccept()| length  }} event(s) to accept</p>
	<form action="{{ path("CalendarBundle_displayEventToAccept")}}" method="post">
			<input type="submit" value="Display" />
		</form>
	</div>
	-->
	<div style="height:34px;"></div>
	<div class="scroll_container" rel="scroller">
		<div id='calendar'></div>
	</div>
</div>


{% endblock %}