{% extends 'ScubeBaseBundle:Base:base_application.html.twig' %}


{% block body %}
{{ parent() }}

<div class="Application">

<table class="table_content">
<tr>
	<td class="sidebar_left">
		<ul class="sidebar_navigation">
			<li><a href="{{ path("AdminUserBundle_homepage")}}">Manage users</a></li>
			<li><a href="{{ path("AdminUserBundle_groups")}}">Manage groups</a></li>
		</ul>
	</td>
	<td class="sidebar_main">
		<h1>Users Manager</h1>
		<p class="floating_right"><a href="{{ path("AdminUserBundle_user_add")}}">+ Add a user</a></p>
	
		<table class="table_full_size">
		
			{% for usr in usr_list %}
			<tr>
				<td>
					<div class="table_title">{{usr.getEmail()}}</div>
					<div class="table_text">{{usr.getFirstname()}} {{usr.getSurname()}}</div>
				</td>
				<td>
					{{usr.getPermissionsGroup().getName()}} group
				</td>
				<td>
					<a href="{{ path("AdminUserBundle_user_edit", { 'id': usr.getId()})}}">Edit</a>
				</td>
				<td>
					<a href="{{ path("AdminUserBundle_user_remove", { 'id': usr.getId()})}}">Remove</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</td>
</tr>
</div>

{% endblock %}