{% extends 'ScubeBaseBundle:Base:core_application.html.twig' %}


{% block body %}
{{ parent() }}

<div class="Application">

<table class="table_content">
<tr>
	<td class="sidebar_left">
		{% include 'ScubeAccountBundle:Account:menu.html.twig' %}
	</td>
	<td class="sidebar_main">
		<h1>Edit account</h1>

		{% if success %}
			<p class="form_success">Your account has been successfully updated. For a full update, <a target="_parent" href="{{ path('_homepage') }}">please refresh your desktop here</a>.</p>
		{% endif %}
		<form action="{{ path('ScubeAccountBundle_edit_email_password') }}" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
		
			<input type="submit" value="Save email and password" />
		</form>
	</td>
</tr>
</table>

</div>

{% endblock %}
