{% extends 'ScubeBaseBundle:Base:core_application.html.twig' %}




{% block body %}
{{ parent() }}


<div class="Application">

<table class="table_content">
<tr>
	<td class="sidebar_left">
		<ul class="sidebar_navigation">
		{% include 'ScubeAdminLogsBundle:AdminLogs:menu.html.twig' %}
		</ul>
	</td>
	<td class="sidebar_main">
		<h1>Logs Viewer : Production Logs</h1>
		
				<p class="result_table">
				<table class="table_full_size result_table">
				<tr>
					<td style="text-align: center; color: black; width: 25%">
						{% if mode == "PROD" %}
							{% image '@ScubeAdminLogsBundle/Resources/public/images/prod_mod.png' %}
								<img style="margin-top: 10px; margin-bottom: 10px;" width="64px" height="64px" src="{{ asset_url }}" alt="Production" title="Production" />
							{% endimage %}
						{% else %}
							{% image '@ScubeAdminLogsBundle/Resources/public/images/dev_mod.png' %}
								<img style="margin-top: 10px; margin-bottom: 10px;" width="64px" height="64px" src="{{ asset_url }}" alt="Development" title="Development" />	
							{% endimage %}
						{% endif %}
					</td>
					
					<td style="text-align: center; color: black; width: 50%;">
						
						{% if mode == "PROD" %}
							Running mode : Production
						{% else %}
							Running mode : Development
						{% endif %}
						
					</td>
					
					<td style="color: black; text-align: center; margin-top: 10px; width: 25%;">
						<a href="{{ path("AdminLogsBundle_cleanlogs", {'mode' : mode}) }}" class="button green">Clear Logs</a>
					</td>
				</tr>
			</table>
			</p>
			
			{% if error %}
			</br>
				<center>Log file is empty or doesn't exist !</center>
			{% else %}
				<div class="result_table_scroll">
					<table class="table_full_size result_table">
						<thead>
							<tr>
								<th>Date</th>
								<th>Error type</th>
								<th>Message</th>
							</tr>
						</thead>
						
						<tbody>
							{% for log in logsFull %}
							<tr>
								<td>
									<div class="table_text">{{ log.date }}</div>
								</td>
								<td>
									<div class="table_text">{{ log.type }}</div>
								</td>
								<td>
									<div class="table_text">{{ log.msg }}</div>
								</td>
							</tr>
							{% endfor %}
						</tbody>
						
					</table>
					
				</div>
			{% endif %}
		
	</td>
</tr>
</table>
</div>

{% endblock %}