{% extends 'ScubeBaseBundle:Base:base_application.html.twig' %}


{% block body %}
{{ parent() }}

<div class="Application">

<table class="table_content">
<tr>
	<td class="sidebar_left">
		<ul class="sidebar_navigation">
			<li><a href="{{ path("ScubeAccountBundle_homepage")}}">Account</a></li>
			<li><a href="{{ path("ScubeAccountBundle_edit_profile")}}">Profile</a></li>
			<li><a href="{{ path("ScubeAccountBundle_edit_email_password")}}">Email and password</a></li>
		</ul>
	</td>
	<td class="sidebar_main">
		<h1>Edit account</h1>

		{% if success %}
			<p class="form_success">Your account has been successfully updated. For a full update, <a target="_parent" href="{{ path('_homepage') }}">please refresh your desktop here</a>.</p>
		{% endif %}
		<form action="{{ path('ScubeAccountBundle_homepage') }}" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
		
			<input type="submit" value="Save account" />
		</form>
	</td>
</tr>
</table>

</div>

{% endblock %}
