<h1>{{user.firstname}} {{user.surname}}</h1>

<table class="start_menu">
	<tr>
		<td class="td_top">
			<a class="AppBox start_menu_btn blue_btn" href="{{ path('_edit_profile') }}">
			{% image '@ScubeBaseBundle/Resources/public/images/profile.png' %}
			<br /><img src="{{ asset_url }}" alt="My profile"/><br />
			{% endimage %}
			Profile</a>
		</td>
		<td class="td_top">
			<div class="start_menu_btn">
				<table class="start_menu">
					<tr>
						<td class="td_top" >
							<a class="AppBox start_menu_mini_btn" href="{{ path('_edit_profile') }}">
							{% image '@ScubeBaseBundle/Resources/public/images/applications.png' %}
							<br /><img src="{{ asset_url }}" alt="My apps"/>
							{% endimage %}
							</a>
						</td>
						<td class="td_top">
							<a class="AppBox start_menu_mini_btn" href="{{ path('_edit_profile') }}">
							{% image '@ScubeBaseBundle/Resources/public/images/inbox.png' %}
							<br /><img src="{{ asset_url }}" alt="My apps"/>
							{% endimage %}
							</a>
						</td>
					</tr>
					<tr>
						<td class="td_top">
							<a class="AppBox start_menu_mini_btn" href="{{ path('_edit_profile') }}">
							{% image '@ScubeBaseBundle/Resources/public/images/connections.png' %}
							<br /><img src="{{ asset_url }}" alt="My apps"/>
							{% endimage %}
							</a>
						</td>
						<td class="td_top">
							<a class="AppBox start_menu_mini_btn" href="{{ path('_edit_profile') }}">
							{% image '@ScubeBaseBundle/Resources/public/images/medias.png' %}
							<br /><img src="{{ asset_url }}" alt="My apps"/>
							{% endimage %}
							</a>
						</td>
					</tr>
				</table>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<a class="AppBox start_menu_btn yellow_btn" href="{{ path('_edit_profile') }}">
			{% image '@ScubeBaseBundle/Resources/public/images/myinfos.png' %}
			<br /><img src="{{ asset_url }}" alt="My infos"/><br />
			{% endimage %}
			My infos</a>
		</td>
		<td>
			<a class="start_menu_btn red_btn" href="{{ path('_logout') }}">
			{% image '@ScubeBaseBundle/Resources/public/images/shutdown.png' %}
			<br /><img src="{{ asset_url }}" alt="Logout"/><br />
			{% endimage %}
			Logout</a>
		</td>
	</tr>
</table>
{#
		<table id="frame_profile_infos">
		
		<tr>
		<td class="img_profile">
		{% image '@ScubeBaseBundle/Resources/public/images/user.png' %}
		<img src="{{ asset_url }}" alt="Picture"/></a>
		{% endimage %}
		</td>
	
		<td class="details_profile">
		<ul>
			<li>Gender: {{user.gender}}</li>
			{%if user.getProfile().status%}<li>Status: {{user.getProfile().status}}</li>{%endif%}
			{%if user.getProfile().phoneNumber%}<li>Phone: {{user.getProfile().getPhoneNumber()}}</li>{%endif%}
			{%if user.getProfile().city%}<li>City: {{user.getProfile().getCity()}}</li>{%endif%}
			{%if user.getProfile().nativeCity%}<li>Native From: {{user.getProfile().getNativeCity()}}</li>{%endif%}
			{%if user.getProfile().website%}<li>Website: {{user.getProfile().getWebsite()}}</li>{%endif%}
		</ul>
		</td>
		</tr>
		
		
		<tr>
		<td colspan='2'>
		
			<a class="AppBox account_params_btn" href="{{ path('_edit_profile') }}">Edit profile</a>
			<a class="AppBox account_params_btn" href="{{ path('_edit_account') }}">Edit account</a>
		</td>
		</tr>
		
		</table>
		#}